<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Django-TodoList</title>{% endblock %}
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
     {% load static %}
     <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
<body>

    <nav class="navbar custom-nav">
        <div class="container-fluid">
            {% if user.is_authenticated %}
            {% load tags %}
            {% today request %}
            {% time request %}
          <a class="navbar-brand" href="#">
            <img src="https://media.giphy.com/media/rkyY1h4MZxKM3wlEN8/giphy.gif" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Hello, {{user.username}}
          </a>
          <!-- <a href="{% url 'logout'%}?next={{request.path}}">Logout</a> -->
          <a href="{% url 'logout'%}">Logout</a>
          {% else %}
          <!-- <a href="{% url 'signup'%}?next={{request.path}}">Signup</a>
          <a href="{% url 'login'%}?next={{request.path}}">Login</a> -->
          <a href="{% url 'signup'%}">Signup</a>
          <a href="{% url 'login'%}">Login</a>
          {% endif %}
        </div>
      </nav>

    <!-- <header>
        
        {% if user.is_authenticated %}
        {% load tags %}
        {% today request %}
        
        <span><h3>Hi, {{ user.username }}</h3></span>
        <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
        {% else %}
        <a href="{% url 'signup'%}?next={{request.path}}">Signup</a>
        <a href="{% url 'login'%}?next={{request.path}}">Login</a>
        {% endif %}

    </header> -->
    
    
        {% block content %}{% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>