* {
    margin: 0;
}

body {
    text-align: center;
    /* font-family: 'Roboto', sans-serif;
    font-weight: 500; */
    font-family: 'Baloo 2', cursive;
    background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");

    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

header {
    color:#777;
    line-height: 100px;
    margin-bottom: 50px;;
}

.custom-nav{
    color:#777;
    line-height: 100px;
    margin-bottom: 50px;;
    
    background-color: #279ec2;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
}

.custom-nav a {
    color: black;
}

#greeting {
  font-weight: 600;
  font-size: 60px;
}

.account-forms{
  width:60%;
  margin:auto;
  
}

.note{
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
    background-color: #f2f274;
    background-image: url("https://www.transparenttextures.com/patterns/graphy.png");
    font-family:'Nanum Pen Script', cursive;
    font-size: 26px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: red;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }


/* calendar */
.calendar {
    width: 60%;
    margin: auto;
    font-size: 14px;
    background-color: black;
    border-radius: 26px;
    color:white;
  }

  .calendar tr, .calendar td {
    border: 2px solid white;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
  }
  
  .calendar td {
    width: 60px;
    height: 50px;
    padding: 30px 0px 0px 5px;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
  }
  
  .month {
    font-size: 30px;
  }
  
  .date {
    font-size: 26px;
    font-weight: bolder;
  }
  
  ul {
    height: 100%;
    padding: 0px 2px 0px 16px;
  }
  
  .calendar a {
    color: pink;
    font-family:'Nanum Pen Script', cursive;
    text-decoration: none;
    font-size: large;
  }

  .left {
    float: left;
  } 
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    
  }
  
  .form {
    margin: auto;
  }
  
  /* .form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
    padding:20px;
    margin:10px;
  } */

  .form-div{
    width:600px;
    margin:auto;
  }

  .main-container {
    width:98%;
    margin:auto;
    overflow:hidden;
  }

  .left-div {
    width:40%;
    float:left;
  }

  .right-div {
    overflow:hidden;   
  }

  .clearfix {
    margin: 15px;
  }

  .form-t {
    width:60%;
  }

  .hello {
    display:inline-flex;
  }

  .username {
    display: inline-flex;
    font-weight: 600;
    font-size:60px;
  }

.analog-clock{
  display: inline-flex;
}

.date-time{
  line-height: 0;
  font-size: 26px;
  color:darkred;
  
}

.free {
  width:80%;
  margin:auto;
  border-radius: 26px;
}




@media only screen and (max-width: 768px) {
  .navbar a {
    margin:auto;
  }

  .navbar-text {
    width:80%;
    margin:auto;
  }

  .clock-div {
    margin:auto;
  }

 .greet-username {
  text-align: center;
  margin:auto;
 }

  #greeting {
    font-size:30px;
  }

  .username {
    font-size:30px;
  }

  .left-div {
    width:80%;
    margin:auto;
  }

  .right-div {
    width:100%;
    margin:auto;
  }

  .form-div{
    width:98%;
    margin:auto;
  }

  /* .calendar {
    width: 98%;
    margin: auto;
    font-size: 10px;
    background-color: black;
    border-radius: 26px;
    color:white;
  } */


}


